
body{
    font-family: 'Poppins', sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    max-width: 100%;
    line-height: 1.6;
}
img{
    width: 100%;
    flex: 1;
}
h1, h2, h3{
    font-weight: 700;
}
h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 3%;
    padding-top: 5%;
    padding-bottom: 0;
    margin-bottom: 0;
}
ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
}
header {
    background-color: #333;
    margin-top: 0;
    height: 60px;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
    max-width: 100%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1000;
}
header .logo {
    padding-bottom: 60px;
    width: 175px;
    overflow-y: hidden;
    max-width: 100%;
}
header ion-icon{
    display: inline-block;
    vertical-align: middle;
    margin-right: 2%;
    margin-bottom: 4px;
    font-size: 20px;
}
header a{
    height: 0px;
    margin: 0;
    padding: 0
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
nav li{
    display: inline-flex;
}
.phone {
    display: inline-block;
    align-items: center;
    justify-content: flex-end;
    font-size: larger;
    padding-right: 2%;
    white-space: nowrap;
    color: white;
    text-decoration: none;
    padding-right: 3%;
}
.phone a {
    text-decoration: none;
    color: inherit;
    font-size: 19px;
    display: inline-block;
}
.buttons {
    display: flex; 
    flex-wrap: wrap; 
    gap: 10px;  
}
.phone-link2, .email-link2, .whatsapp-button {
    display: inline-flex;
    align-items: center;
    background-color:#bdcfd6; 
    color:black;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    margin: 5px; 
    transition: background-color 0.3s, transform 0.3s; 
}
ion-icon {
    margin-right: 8px; 
    font-size: 20px; 
}
.phone-link2:hover,
.phone-link:hover,
.email-link2:hover,
.email-link:hover,
.whatsapp-button:hover {
    color: #3c749d;
}
.cta-button {
    background-color: #bdcfd6;
    color: white;
    padding: 1em 1em;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    
    @media (max-width: 700px) {
        align-items: center;
        display: flex;
        justify-content: center;
        flex: 1 1 48%;
        box-sizing: border-box;
    }
}
.cta-button:hover {
    background-color: #285577;
}
.contact-button {
    background-color: #bdcfd6; 
    color: white;
    padding: 1em 1em;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    @media (max-width: 700px) {
        align-items: center;
        display: flex;
        justify-content: center;
        flex: 1 1 48%; /* Grow, shrink, and take up 48% of the container */
        box-sizing: border-box; /* Ensure padding is included in width */
    }
}
.contact-button:hover {
    background-color: #285577;
}
@media (max-width: 821px) {
    .contact-button,
    .cta-button {
        padding: 0.5em 0;
    }
}
.hero {
    background: linear-gradient(
        rgba(0, 0, 0, 0.1),  
        rgba(255, 255, 255, 0.1)  
    ),
    url('tausta.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 5%; 
    min-height: 60vh; 
    color: white;
    position: relative;
    text-align: left; 
    @media (max-width: 700px) {
        align-items: end;
        justify-content: center;
        padding-bottom: 10px;
        min-height: 50vh; 
        background-image: url(tausta_mobiilille.jpg);
        background-size: 100%;
        background-color:#3c749d;
        background-position: top;
        padding-left: 0%;
    }
    @media (max-width: 526px) {
        height: 470px;
    }
    @media (max-width: 400px) {
        height: 420px;
    }
    }
.background {
    position: relative;
    z-index: 1;
    opacity: 0;
    animation: slideIn 1.5s forwards;
    @media (max-width: 700px) {
        min-height: 220px;
        padding-bottom: 30px;
        padding: 0 10px;
        opacity: 0;
        animation: slideInFromTop 0.7s ease-in-out forwards;
    }
}
.background h1 {
    font-size: 3rem;
    font-weight: bold;
    margin: 0;
    max-width: 50%;
    padding-bottom: 0.5em;
    line-height: 1.2;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    @media (max-width: 700px) {
        max-width: 100%;
        font-size: 2rem;
        padding-bottom: 0.2rem;
        text-align: center;
    }
    @media (max-width: 400px) {
        font-size: 24px;
    }
    @media (max-width: 376px) {
        font-size: 24px;
        margin-top: 62%;
    }
}
.background p {
    font-size: 1.25rem;
    margin-bottom: 1.5em;
    color: #f0f0f0;
    max-width: 40%;
    @media (max-width: 700px) {
        font-size: 1rem;
        max-width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }
    @media (max-width: 400px) {
        font-size: 17px;
    }
}
.subheading {
    text-align: center;
    justify-content: center;
    margin: 50px auto;
    line-height: 1.6;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    background-color: #f9f9f9;
    font-size: larger;
    max-width: 900px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    @media (max-width: 431px) {
        margin-left: 3%;
        margin-top: 1%;
        max-width: 100%;
        margin-right: 3%;
        line-height: normal;
        box-shadow: none;
        background-color: white;
        flex-wrap: wrap;
    }
}
.subheading h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 31px;
    letter-spacing: 1px;
    font-weight: 600;
    color: black;
    margin-bottom: 20px;
    @media (max-width: 431px) {
        margin-inline: 0;
        font-size: 25px;
        font-weight: 600;
        max-width: 100%;
        letter-spacing: 0,5px;
        line-height: 1,2;
    }
}
.subheading h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 1,5;
    color: #333;
    @media (max-width: 431px) {
        font-size: 22px;
        font-weight: 600;
        max-width: 100%;
        letter-spacing: 0,5px;
        line-height: 1,2;
    }
}
.subheading li {
    list-style:none;
    align-items: center;
    flex-basis: 20%;
    padding: 50px;
    overflow-x: hidden;
    
    @media (max-width: 730px) {
        flex-basis: 33%;
        padding: 5px;
    }
}
.subheading ul {
    width: 100%;
    padding: 0;
    margin: 0;
    justify-content: space-around;
    flex-wrap: nowrap;
    
    @media (max-width: 700px) {
        flex-wrap: wrap; 
        justify-content: center;
        margin-top: 0;
        margin-bottom: 0; 
    }
}
.symbols{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: larger;
    max-width: 100%;
    height: auto;
    color: black;
    overflow-x:auto;
    flex-wrap: wrap;
}
.symbols li{
    padding: 50px;
    list-style: none;
    flex-basis: 20%;
    overflow-y: hidden;
    @media (max-width: 700px) {
        padding: 5%;
        margin-rigt: 5px;
        flex-basis: 20%;
        padding-bottom: 0;
    }
    @media (max-width: 376px) {
        padding: 5px;
        flex-basis: 45;
    }
}
.symbols ion-icon{
    background: #bdcfd6;
    padding: 40%;
    border-radius: 50%;
    border: 3px solid #3c749d;

    @media (max-width: 730px) {
        padding: 30%;
    }
    @media (max-width: 700px) {
        padding: 25%;
    }

    @media (max-width: 431px) {
        padding: 25%; 
    }

    @media (max-width: 376px) {
        padding: 20%; 
    }
}
.symbols li :hover {
    transform: scale(1.3);
}
.services {
    background-color: #bdcfd6;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
}
.services h2 {
    color:#3c749d;
    margin-top: 0;
    letter-spacing: 1px;
    font-size: 30px;
    height: 40px;
}
.services h3 {
    color:#3c749d;
    margin-top: 5px;
    padding-top: 0;
    letter-spacing: 1px;
    font-size: 19px;
    height: 100px;
    font-weight: 700;
    background: white;
}
.services p {
    max-width: 900px;
    justify-content:center;
    text-align: center;
    padding-bottom: 1%;
    color: #3c749d;
}   
.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: center;
    max-width: 1000px;
    margin-bottom: 1%;
}
@media (max-width: 983px) {
    .container {
        grid-template-columns: repeat(2, 1fr); 
        padding-left: 0;
        gap: 15px;
    }
    .service-box {
        padding: 1%;
    }
}
@media (max-width: 620px) {
    .container {
        display: grid;
        grid-template-columns: 1fr;
    }
}
.service-box{
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    flex: 1;
    height: 400px;
    max-height: 650px;
    border-radius: 10px;
    border-color: #3c749d;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.service-box p {
    margin: 0;
    padding: 10px 0;
    margin-bottom: 20px;
    font-size: 16px;
    color:#3c749d;
}
.service-box img {
    width: 100%;
    object-fit: cover;
    margin-top: auto;
    height: 230px;
    border-radius: 5px;
    overflow-y: hidden;
}
.aboutme{
    background-color: #f9f9f9;
    color: #333;
    font-size: 1rem;
    line-height: 1.6;
    max-width: 800px;
    margin: 20px auto;
    max-width: 1000px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding-bottom: 1%;
    @media (max-width: 431px) {
        margin-left: 5%;
        margin-right: 5%;
    }
}
.aboutme h2 {
    text-align: center;
    letter-spacing: 1px;
    margin-top: 0;
    font-size: 2rem; 
    font-weight: 600; 
    margin-bottom: 20px;
    margin-top: 0;
}
.aboutme .yläosa, .aboutme .alempi {
    margin-bottom: 20px;
}
.aboutme .yläosa ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}
.aboutme ol {
    padding-left: 20px;
    margin: 3%;
    text-align: justify;
    max-width: 900px;
    @media (max-width: 700px) {
        margin: 5%;
        padding-left: 0px;
}
}
.aboutme li {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 15px;
    display: block;
    text-align: justify;
    @media (max-width: 700px) {
        text-align: start;
}
}
.aboutmes p {
    margin: 3%;
    text-align: justify;
    max-width: 1300px;
        @media (max-width: 450px) {
        text-align:start;
}
}
.icon-link {
    text-decoration: none;
    color: white;
}
.icon-link:hover {
    color:#3c749d;
}
.button-container {
    display: flex;
    font-size: 13px;
    justify-content: center; 
    flex-wrap: wrap; 
    gap: 10px;
    margin-bottom: 2%;
}
.button-container a {
    max-width: 470px;
        @media (max-width: 481px) {
        width: 390px;
    }
}
footer{
    background-color: #333;
    padding: 10px 20px;
    color: white;
    text-align: center;
}
footer img {
    max-width: 300px;
    margin-right: 2%;
}

footer p {
    justify-content:center ;
    align-items: center;
}
footer a {
    text-decoration: none;
    color: inherit;
}
footer ion-icon {
    display: inline-block;
    position: relative;
    font-size: 16px;
    vertical-align: middle;
    margin-bottom: 4px;
    font-size: 20px;

}  
@keyframes slideIn {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slideInFromTop {
    from {
      transform: translateY(-100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
