body{
    background: white;
    color: white;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    max-width: 100%;
}
header{
    background-color: #333;
    height: 30px;
    margin-top: 0;
    padding: 20px;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: 'Roboto', sans-serif;
    position: relative;
    overflow-x: hidden;
    max-width: 100%;
    
}
header .logo {
    display: inline-flex;
    background-image:"logo.png";
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 70px;
    padding-bottom: 50px;
    width: 150px;
    position: relative;
    overflow-x: hidden;
    max-width: 100%;
}
nav{
    max-width: 100%;
    position: static;
    z-index: 1000;
    top: 0;
}
section{
    background: white;
    color: black;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #dfdfdf;
}

.box{
    text-align: center;
    height: auto;
    margin-bottom: 50px;
    flex: 1;
    overflow-x: hidden;
    max-width: 100%;
    position: relative;
}

.box img {
    width: 100%;
    height: auto;
    margin-top: 1%;
    max-width: 70%;
}
ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-height: 70px;
}
nav li{
    display: inline-block;
}
li .logo{
    max-height: fit-content;
}
.väliotsikko {
    background-color: white;
    text-align: center;
    margin: 8%;
    margin-top: 5%;
    color: black;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    font-size: larger;
    margin-bottom: 0;
}
.väliotsikko li {
    list-style:none;
}
footer{
    background-color: #333;
    padding: 10px 20px;
    color: white;
    text-align: center;

}
h1, h2, h3{
    font-weight: 700;
}
h1{
    padding-bottom: 30%;
    letter-spacing: 10px;
    padding-top: 10%;
    padding-left: 5%;
    position: absolute;
    margin: 20px;
    width: 150px;
    font-size: clamp(16px, 5vw, 48px);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h3{
    padding-top: 8%;
    padding-bottom: 0;
    margin-bottom: 0;
}
.symbolit li{
    padding: 50px;
    list-style: none;
    @media (max-width: 800px) {
        padding: 35px;
    }
    @media (max-width: 700px) {
        padding: 10px;
        margin-right: 10px;
    }
    @media (max-width: 376px) {
        padding: 3px;
        margin-right: 10px;
    }
} 

.symbolit{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: larger;
    margin-top: 0;
    max-width: 100%;
    height: 200px;
    color: black;
    overflow-x: hidden;
} 

.symbolit ion-icon{
    background: #dfdfdf;
    padding: 40%;
    border-radius: 50%;
    border: 3px solid rgb(0, 0, 0);
}

.kolmasosio{
    background: white;
    width: 100%;
    max-width: fit-content;
    padding: 10%;
    justify-content: center;
    align-items: center;
    color: #333;
    letter-spacing: 1px;
    font-size: large;
}
.kolmasosio img {
    height: 100px;
    width: 150px;
    position: absolute;
    left: 2%;
    align-items: center;
}
.kolmasosio p {
    padding-left: 10%;
    justify-content: center;
}
.tausta{
    background-image: url('workspace-1280538_1920.jpg');
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    height: 70vh;
    position: relative;
}
.tausta h1{
    color: white;
    position: absolute;
    top: 45%;
    left: 13%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    font-size: clamp(16px, 10vw, 48px);
    max-height: 100%;
}
img{
    width: 100%;
    flex: 1;
}
.väliotsikko h3{
    background-color: white;
}

h3 {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 6%;
    background-color: #dfdfdf;
}

@keyframes slideIn {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
/*animation: slideIn 1s ease-out forwards;